body{
  background-color: rgb(142, 142, 244);
  
}

.App {
  background-color: white;
  min-height: 80vh;
  margin: 50px auto;
  width: 400px;
  text-align: center;
  border-radius: 10px;
}

.crossed{
  text-decoration: line-through 2px black;
}

ul,li{
  display: flex;
  
  justify-content: center;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  justify-content: center;
  align-items: center; 
}

ul{
  flex-direction: column;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}

.add{
  margin-top: 5px;
  padding: 10px;width: 70%;
  font-size: 16px;
  background: #43c737;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}

.delete{
  width: 70%;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
  background: #f65757;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}

input{
  border-radius: 10px;
  width: 65%;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

.check{
  border-radius: 0;
  height: 20px;
  margin-right: 10px;
}
img{
  border-radius: 40%;
  margin: 10px;
}